nav {
  background-color: #e02d2d;
}
nav a {
  color: #fff;
  font-size: 16px;
}
.logo {
  width: 180px;
  height: 60px;
  border: 1px solid #f00;
}
#myCarousel {
  margin: 50px 0 0 0;
}
#navbar-collapse ul {
  margin-top: 0;
}
.carousel-inner img {
  margin: 0 auto;
}
.tab1 {
  margin: 40px 0 30px;
}
.media-body {
  vertical-align: middle;
}
.tab2 {
  position: relative;
}
.mainCon1 {
  margin-top: 30px;
}
.mainCon1 h2,
.mainCon1 p {
  margin: 10px 0;
}
.mainCon2 {
  margin: 40px 0;
  padding: 30px 0;
}
.addBg1 {
  background-color: #1a0702;
}
.addBg2 {
  background-color: #ff2828;
}
.addBg3 {
  background-color: #88d6ff;
}
.tab2-2 {
  float: left;
  text-align: center;
}
.tab2-1 {
  float: right;
}
.tab2-1 img {
  width: 40%;
}
.text {
  position: absolute;
  top: calc(50% - 70px);
}
footer {
  background: #e01416;
  padding: 20px 0;
  color: #fff;
  font-size: 16px;
}
.addBorder {
  border: 1px solid #ffbbce;
  border-radius: 10px;
  box-shadow: inset 0px 0px 15px #ff5751;
}
.p1Con1 {
  height: 220px;
  overflow: hidden;
  margin-top: 60px;
  position: relative;
}
.p1Con1 ul {
  width: 2310px;
  height: 220px;
  list-style: none;
  position: absolute;
}
.p1Con1 ul li {
  float: left;
  list-style: none;
}
.p1Con1 ul li img {
  width: 330px;
  height: 220px;
}
.p1Con2 {
  padding: 30px 20px;
}
.p1Con2 .p1Maincon {
  background: #65d2d2;
}
.clmp2 {
  margin-right: -15px;
}
.clmp1 {
  margin: 0 15px 0 -35px;
}
.p2Con2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.page3 {
  margin-bottom: 30px;
}
.addPa {
  margin: 10px 0 10px -30px;
  padding: 10px 0;
  background: #e771c0;
}
.addPa img {
  width: 50%;
}
.p3Con2 {
  margin-top: 30px;
}
.rightCon {
  background: #c7b6de;
  margin-top: 10px;
}
.addPa1 {
  background: none;
}
.pa4Con {
  margin-top: 60px;
}
.pa5Con {
  background-image: linear-gradient(-190deg, #f94f65 1%, #eeeff7 100%);
  margin: 20px auto;
}
